---
layout: portfolio
title: Photo Shoot
description: I've always liked the amazing world of photography but I've never tried it in a creative way. I´ve started to take photos in 2020 while adventuring in the nature, and since then I've been working on some projects to explore ideas that are dear to me. 
pagination:
  enabled: false
---
<!-- The main content area -->
<div class="posts">
  <div class="grid-xlarge">
    <div class="posts__container" itemscope itemtype="http://schema.org/Blog" data-columns>

      {% for post in paginator.posts %}

        <!-- The tag below includes the markup for each post - partials/post-card.html -->
        {% if post.layout == 'portfolio-item' and post.type == 'photo' %}
         {% include portfolio-card.html %}
        {% endif %}

      {% endfor %}
    </div>
  </div>

  {% include pagination.html %}
</div>
