---
layout: portfolio
title: Dance
description: When I'm dancing, I forget about the world around me and I feel a strong connection to myself. I go through my thoughts, my feelings, my soul... and I can show who I really am. It’s where I find myself. 
pagination:
  enabled: true
---
<!-- The main content area -->
<div class="posts">
  <div class="grid-xlarge">
    <div class="posts__container" itemscope itemtype="http://schema.org/Blog" data-columns>

      {% for post in paginator.posts %}

        <!-- The tag below includes the markup for each post - partials/post-card.html -->
        {% if post.layout == 'portfolio-item' and post.type == 'dance' %}
         {% include post-card.html %}
        {% endif %}

      {% endfor %}
    </div>
  </div>

  {% include pagination.html %}
</div>
